.header{
    background-color: transparent;
    position:fixed;
    margin: auto;
    width: 100%;
    z-index: 1;
    /* scroll-snap-align: start; */
}

.header-bg{
    opacity: 0.96;
    backdrop-filter: blur(30px);
    background-color: #1616178f;
}

.neon-text-navbar:hover {
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 1em white;

}