.video-section {
  position: relative;
  padding-bottom: 56.25%;
  max-height: 100vh;
}

.video-section .black-screen {
  width: 100%;
  height: 100%;
  background-color: black;
}



.video-section iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: none;


}

.video-details .video-section iframe {
  pointer-events: initial;
}

.block-text {
  position: absolute;
  bottom: 160px;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.image-wrapper {
  display: none;
}

@media (max-width: 767px) {
  .video-section {
    height: 100vh;
  }

  .bg-video {
    display: none;
  }

  .image-wrapper {
    display: block;
  }

  .video-section {
    height: 100vh;
  }

  .block-text {
    position: absolute;
    bottom: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .block-text {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

  }

}

@media (min-width: 1024px) and (max-width: 1030px) {

  .block-text {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

  }

}

/* @media (min-width: 1026px) and (max-width: 1279px) {

  .block-text {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

  }

} */
