.tweet-section {
    position: relative;
    height: 100%;
    z-index: 0; 
}

.tweet-section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(100px); 
    z-index: -10000000000000; 
}

.citation{

    background-color: rgba(0, 0, 0, 0.404);
    backdrop-filter: 8%;
    border-radius: 30px;
    color: white;
    box-shadow: 
    3px 5px 10px rgb(0, 0, 0),  
    -2px 1px 10px rgba(255, 255, 255, 0); 
}


.text-citation{
    font-size:xx-large;
    font-family: monospace;
}

.text-citation p{
   font-style: italic;
}

.media{
    width: 30%;
}

.citation-media{
    border-radius: 10px;
    box-shadow: 
    5px 5px 10px rgb(0, 0, 0),  
    -2px 1px 10px rgba(255, 255, 255, 0);
    width: 448px;
    height: 250px;
}

.citation-media iframe{
    border-radius: 10px;
    width: 448px;
    height: 250px;
}

.citation-media img{
    border-radius: 10px;    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1440px) {
    .text-citation{
        font-size:large;
        font-family: monospace;
    }

    
}

@media (max-width: 768px) {
    .citation{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .citation-media{
        width: 365px;
        height: 250px;
    }
    .citation-media iframe, .citation-media img{
        width: 365px;
        height: 250px;
    }
    
    .citation-media img{
        width: 355px;
        height: 250px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .citation{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    }

    
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .citation{
        padding: 30px;
    }
    .citation-media{
        height: 190px;
    }
    .citation-media iframe{
        height: 190px;
    }
}

@media (min-width: 1440px) {
    .citation{
        padding-top: 50px;
        padding-bottom: 40px;
        padding-right: 50px;
        padding-left: 50px;
    }
}