html {
    scroll-snap-type: y mandatory;
}


section {
    height: 100vh;
    scroll-snap-align: start;
}

.bg-vision {
    min-height: 100vh;
}


.bg-pop {

    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    background-color: white;
    min-height: 100vh;
    width: 100%;

}

.v-iframe{
    border: 1px solid red;
    height: 100vh;
}

.bloc-video {
    height: 100vh;
}

.bg-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.block-text {
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
}

.bg-img {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-img {
    height: 100vh;
    width: 100%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    pointer-events: none;

}

.video-wrapper> iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}



/* 
.bg-img-0{
    background-image: url("https://wallpapers.com/images/hd/black-pyramid-neon-retro-wave-outline-u5n90eav84sjz2ku.jpg");
}

.bg-img-1{
    background-image: url("https://i.pinimg.com/originals/ad/92/b3/ad92b38fce116c954c5d71be6d5e67bf.jpg");
}

.bg-img-2{
    background-image: url("https://wallpapers.com/images/hd/synthwave-city-xvs5tnxctjz3ebdr.jpg");
} */