.bg-sound{
    min-height: 100vh;
    padding-top: 50px;
    background: rgb(5,25,2);
    background: linear-gradient(180deg, rgba(5,25,2,1) 0%, rgba(0,0,0,1) 50%, rgba(8,38,3,1) 100%);
    scroll-snap-align: start; 
}

.playlist{
    height: 465px;
}

.bg-sound> .bloc-text{
    margin-top: 250px;
}

.sound-container {
    text-align: center;
    width: 50%;
    height: 80%;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease; /* Ajout de la transition pour une animation fluide */
}

.sound-wrapper {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.sound-container:hover {
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.5); /* Appliquer l'ombre au survol */
}

@media (max-width: 767px) {

    .sound-container {
        width: 70%;

    }
}