.arrow-back {
    background-color: transparent;
    position: fixed;
    margin: auto;
    z-index: 1;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.5;
    border: none;

}

.arrow-back:hover {
    opacity: 1;
}


html {
    scroll-snap-type: y mandatory;
}


section {
    height: 100vh;
    scroll-snap-align: start;
}

.bg-video {
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
}

.video-details .video-details-wrapper {
    pointer-events: auto;
    position: relative;
    padding-bottom: 56.25%; 
    max-height: 100vh;


}

.video-details .video-details-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
}
