.arrow-back {
    background-color: transparent;
    position: fixed;
    margin: auto;
    z-index: 1;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.5;
    border: none;

}

.arrow-back:hover {
    opacity: 1;
}


html {
    scroll-snap-type: y mandatory;
}


.video-details section {
    min-height: 100vh;
    scroll-snap-align: start;
}

.video-details .bg-video {
    /* min-height: 100vh;
    background-color: black;
    width: 100%; */

    min-height: 100vh;
    background-color: black;
    width: 100%;
    height: 100%; /* Ajout de height: 100% pour s'assurer que l'iframe prend toute la hauteur */
    border: none;
    display: block; /* Assurez-vous que l'iframe est en display: block */
}

@media (max-width: 767px) {
    .video-details section {
        outline: 3px solid rgb(16, 16, 16);
    }

    .video-details .bg-video {
        min-height: 100vh;
        height: 100%; 
    }

    .video-details .bg-video {
        transform-origin: center center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
