.row-img {

    flex-wrap: wrap;
}

.flip-container {
    perspective: 1000px;
    width: 300px;
    /* Ajustez la largeur selon vos besoins */
    height: 450px;
    /* Ajustez la hauteur selon vos besoins */
    position: relative;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    cursor: pointer;
    

}


.frontRadius{
    border-radius: 50px;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    

}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    /* Couleur de fond arrière */
    color: #000000;
    /* Couleur du texte arrière */
    box-shadow: 1px 1px 2px white, 0 0 1em white;
    border-radius: 50px ;
}
