.front .img-card {
    width: 80%;
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
}

.flip-container {
    perspective: 1000px;
    width: 30%;
    height: 450px;
    position: relative;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.frontRadius {
    border-radius: 50px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 2px white, 0 0 1em white;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.back p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}

.talents-img {
    display: block;
}

.talents-slider {
    display: none;
}

/* Styles spécifiques au slider en version mobile */
.slider-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
    /* Permet de positionner le bouton */
    perspective: 1000px;
    /* Ajoute de la perspective pour l'effet de retournement */
}

.slider-flipper {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider-flipper.flip {
    transform: rotateY(180deg);
    /* Rotation pour l'effet de retournement */
}

.slider-front,
.slider-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.slider-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Styles pour les grandes tailles d'écran */
@media (max-width: 767px) {

    .talents-img {
        display: none !important;
    }

    .talents-slider {
        display: block;
    }

    .slider-image {
        height: 100%;
        width: 100%;
        border-radius: 50px;
    }

    .slick-dots li button:before {
        color: white !important;
        opacity: 0.65 !important;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
    }

    .bg-blur {
        position: absolute;
        bottom: -0px;
        width: 100%;
        height: 20%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.96;
        backdrop-filter: blur(6px);
        background-color: #0000004d;
        padding: 10px 20px;
        border-radius: 0px 0px 50px 50px;
    }

    .card-button {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        border-radius: 0px 0px 50px 50px;
        cursor: pointer;
        border: none;
        text-align: center;
    }
}