.front .img-card {
    width: 80%;
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
}


.flip-container {
    perspective: 1000px;
    width: 30%;
    height: 450px;
    position: relative;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flipper {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    cursor: pointer;

}


.frontRadius {
    border-radius: 50px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.back {
    transform: rotateY(180deg);
    background-color: #ffffff;
    color: #000000;
    box-shadow: 1px 1px 2px white, 0 0 1em white;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.back p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}
.talents-img{
    display: block;

}
.talents-slider{
    display: none;
}

@media (max-width: 767px) {

    .talents-img{
        display: none!important;
    }

    .talents-slider {
        display: block;
        
    }

    .slider-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;

    }

    .slider-image {
        height: 100%;
        width: 100%;
        border-radius: 50px;  
    }

    .slick-dots li button:before {
        color: white !important;
        opacity: 0.65 !important;
    }
    
    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
    }
    

    
}