name: Deploy to VPS Test

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Add SSH Key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add server to known_hosts
      run: ssh-keyscan -H 178.16.130.125 >> ~/.ssh/known_hosts

    - name: Deploy Frontend (Test)
      run: |
        ssh -o StrictHostKeyChecking=no root@178.16.130.125 "cd /var/www/tbw-test/tbw && git pull origin dev && npm install && npm run build"

    - name: Deploy Backend (Test)
      run: |
        ssh -o StrictHostKeyChecking=no root@178.16.130.125 "cd /var/www/tbw-test/api && git pull origin dev && composer install && php artisan migrate"

