name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Deploy Frontend
      run: |
        ssh root@<ton-vps> "cd /var/www/tbw-prod/tbw && git pull origin main && npm install && npm run build"

    - name: Deploy Backend
      run: |
        ssh root@<ton-vps> "cd /var/www/tbw-prod/api && git pull origin main && composer install && php artisan migrate"
