name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
        echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
        chmod 600 ~/.ssh/id_ed25519
        chmod 644 ~/.ssh/known_hosts
      env:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}

    - name: Deploy Frontend
      run: |
        ssh -o StrictHostKeyChecking=no root@195.35.0.219 "cd /var/www/tbw-prod/tbw && git pull origin main && npm install && npm run build"

    - name: Deploy Backend
      run: |
        ssh -o StrictHostKeyChecking=no root@195.35.0.219 "cd /var/www/tbw-prod/api && git pull origin main && composer install && php artisan migrate"
