name: Deploy to VPS main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -H 178.16.130.125 >> ~/.ssh/known_hosts

    - name: Deploy to VPS
      run: |
        ssh -i ~/.ssh/id_ed25519 root@178.16.130.125 "
          cd /var/www/tbw-prod && git pull origin main &&
          cd tbw && npm install && npm run build &&
          cd ../api && composer install && php artisan migrate
        "

